<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noi.oj.dao.ContestProblemMapper">
  <resultMap id="BaseResultMap" type="com.noi.oj.domain.ContestProblem">
    <result column="problem_id" jdbcType="INTEGER" property="problemId" />
    <result column="contest_id" jdbcType="INTEGER" property="contestId" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="c_accepted" jdbcType="INTEGER" property="cAccepted" />
    <result column="c_submit" jdbcType="INTEGER" property="cSubmit" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    problem_id, contest_id, title, num, c_accepted, c_submit
  </sql>
  <select id="selectByExample" parameterType="com.noi.oj.domain.ContestProblemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from contest_problem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.noi.oj.domain.ContestProblemExample">
    delete from contest_problem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.noi.oj.domain.ContestProblem">
    insert into contest_problem (problem_id, contest_id, title, 
      num, c_accepted, c_submit
      )
    values (#{problemId,jdbcType=INTEGER}, #{contestId,jdbcType=INTEGER}, #{title,jdbcType=CHAR}, 
      #{num,jdbcType=INTEGER}, #{cAccepted,jdbcType=INTEGER}, #{cSubmit,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.noi.oj.domain.ContestProblem">
    insert into contest_problem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="problemId != null">
        problem_id,
      </if>
      <if test="contestId != null">
        contest_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="cAccepted != null">
        c_accepted,
      </if>
      <if test="cSubmit != null">
        c_submit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="problemId != null">
        #{problemId,jdbcType=INTEGER},
      </if>
      <if test="contestId != null">
        #{contestId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=CHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="cAccepted != null">
        #{cAccepted,jdbcType=INTEGER},
      </if>
      <if test="cSubmit != null">
        #{cSubmit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.noi.oj.domain.ContestProblemExample" resultType="java.lang.Long">
    select count(*) from contest_problem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update contest_problem
    <set>
      <if test="record.problemId != null">
        problem_id = #{record.problemId,jdbcType=INTEGER},
      </if>
      <if test="record.contestId != null">
        contest_id = #{record.contestId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=CHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.cAccepted != null">
        c_accepted = #{record.cAccepted,jdbcType=INTEGER},
      </if>
      <if test="record.cSubmit != null">
        c_submit = #{record.cSubmit,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update contest_problem
    set problem_id = #{record.problemId,jdbcType=INTEGER},
      contest_id = #{record.contestId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=CHAR},
      num = #{record.num,jdbcType=INTEGER},
      c_accepted = #{record.cAccepted,jdbcType=INTEGER},
      c_submit = #{record.cSubmit,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByProblemIdAndContestId" parameterType="com.noi.oj.domain.ContestProblem">
    update contest_problem
    set c_submit = c_submit + 1
    where problem_id = #{problemId,jdbcType=INTEGER} and contest_id = #{contestId,jdbcType=INTEGER}
  </update>
</mapper>